img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body {
    background-color: #ff3333;
}
.menu a{
    margin: 0 40px;
    font-family: helvetica;
    text-decoration: none;
    color: #fff;
}
.menu {
    font-size: 25px;
    border-top: 5px solid;
    border-bottom: 5px solid;
    padding: 10px;
    text-align: center;
}
h1{
    text-shadow: 3px 3px 5px white;
    font-size: 25px;
    text-align: center;
}
p{
    text-shadow: 1px 1px 4px white;
    font-family: serif;
    font-size: 30px;
    text-align: center;
}
.list ul{
    margin-left: 460px;
    margin-right: 300px;
    text-shadow: 1px 1px 3px white;
    font-size: 25px;
}
.list ol{
    margin-left: 300px;
    margin-right: 400px;
    text-shadow: 1px 1px 3px white;
    font-size: 25px;
}
